.login-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f5f9;
  position: relative;
  height: 100vh;
}

.register-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f5f9;
  position: relative;
  padding: 20px;
  min-height: 100vh;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-header img {
  width: 50px;
  margin-right: 10px;
}

.login-header {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
}

.form-container h1 {
  color: #272727;
  font-size: 26px;
  font-weight: 600;
  text-align: left;
}

.form-container p {
  color: #505050;
  font-size: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  width: 350px;
  background: #eef1f100;
  border-radius: 10px;
  /* border: 1px solid #e4e4e4; */
}

.login-form label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #272727;
  font-weight: 500;
  text-transform: capitalize;
}

.login-form label i {
  font-size: 12px;
  color: red;
}

.login-form input,
.login-form select {
  margin-bottom: 20px;
  height: 40px;
  padding: 10px;
  outline-style: none;
  border: none;
  border: 1px solid #058e4500;
  transition: 0.1s ease-in-out;
  color: #272727;
  border-radius: 6px;
  /* background: rgb(239, 240, 241); */
  border: 1px solid #9e9e9e;
}

.login-username-container {
  width: 100%;
  margin-bottom: 0px;
  position: relative;
  margin-bottom: 20px;
}

.login-username-container input.username {
  padding-left: 45px;
}

.login-username-container-error {
  width: 100%;
  margin-bottom: 0px;
  position: relative;
}

.login-username-container-error input.error-input,
.login-username-container-error input.error-input:hover,
.login-username-container-error input.error-input:focus {
  margin-bottom: 0px;
  padding-left: 45px;
  width: 100%;
}

.login-username-container input {
  height: 40px;
  padding: 10px;
  outline-style: none;
  border: none;
  border: 1px solid #058e4500;
  transition: 0.1s ease-in-out;
  color: #272727;
  border-radius: 6px;
  border: 1px solid #9e9e9e;
  margin-bottom: 0px;
  width: 100%;
}

.form-input-container input {
  margin-bottom: 20px;
  height: 40px;
  padding: 10px;
  outline-style: none;
  border: none;
  border: 1px solid #058e4500;
  transition: 0.1s ease-in-out;
  color: #272727;
  border-radius: 6px;
  border: 1px solid #9e9e9e;
}

.form-input-container .error-input {
  margin-bottom: 5px;
  height: 40px;
  padding: 10px;
  outline-style: none;
  border: none;
  border: 1px solid #ff1616;
  transition: 0.1s ease-in-out;
  color: #272727;
  padding-left: 45px;
}

.form-input-container .error-input:hover,
.form-input-container .error-input:focus {
  margin-bottom: 5px;
  height: 40px;
  padding: 10px;
  outline-style: none;
  border: none;
  border: 1px solid #ff1616;
  transition: 0.1s ease-in-out;
  color: #272727;
  padding-left: 45px;
}

.form-input-container p.error-input-text {
  color: #ff1616;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
}

.login-form .error-input {
  margin-bottom: 5px;
  height: 40px;
  padding: 10px;
  outline-style: none;
  border: none;
  border: 1px solid #ff1616;
  transition: 0.1s ease-in-out;
  color: #272727;
}

.login-form .error-input:hover,
.login-form .error-input:focus {
  margin-bottom: 5px;
  height: 40px;
  padding: 10px;
  outline-style: none;
  border: none;
  border: 1px solid #ff1616;
  transition: 0.1s ease-in-out;
  color: #272727;
  box-shadow: none;
}

p.error-input-text {
  color: #ff1616;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.login-form input:hover {
  border: 1px solid #058e46;
  transition: 0.1s ease-in-out;
}

.login-form input:focus {
  border: 1px solid #058e46;
  box-shadow: rgba(33, 207, 76, 0.3) 0px 0px 0px 3px;
  transition: 0.1s ease-in-out;
}

button.login-form-btn {
  width: 100%;
  height: 40px;
  outline-style: none;
  border: none;
  cursor: pointer;
  background: #1cb45d;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-top: 12px;
  transition: 0.2s ease-in-out;
  border-radius: 6px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.login-form-btn a,
button.login-form-btn-disable a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.login-form-btn-disable {
  opacity: 50%;
  pointer-events: none;
  width: 100%;
  height: 40px;
  outline-style: none;
  border: none;
  cursor: pointer;
  background: #1cb45d;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin-top: 22px;
  transition: 0.2s ease-in-out;
  margin-top: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
}

.login-form-btn:hover {
  transition: 0.2s ease-in-out;
  background: #199b51;
}

.form-link {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.form-link p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #272727;
}

.form-link p span {
  color: rgb(24, 85, 197);
  font-weight: 600;
  cursor: pointer;
}

.form-link p span.link {
  text-decoration: none;
}

.form-link p span:hover {
  text-decoration: underline;
}

.form-input-container {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}

.form-input-container.login {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}

p.login-icon {
  position: absolute;
  color: #058e46;
  display: flex;
  width: 35px;
  height: 40px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.login-icon::after {
  content: "";
  height: 50%;
  width: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #d4d4d4;
  position: absolute;
}

.form-input-container.login-username p.login-icon {
  position: absolute;
  left: 10px;
  color: #9e9e9e;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.form-input-container input {
  width: 100%;
  margin-bottom: 0;
  padding-left: 45px;
}

.eye-password {
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0;
  font-size: 18px;
  color: #acacac;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.eye-password:hover {
  transition: 0.2s ease-in-out;
  color: #858585;
}

.enter-email-msg {
  font-size: 14px;
  color: #272727;
  margin-bottom: 24px;
}

.forgot-password-container {
  width: 350px;
  height: auto;
}

.specialization-input {
  width: 100%;
  height: 40px;
  outline-style: none;
  border: none;
  border: 1px solid #b8b8b8;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}

.hospital-input {
  width: 100%;
  height: 40px;
  outline-style: none;
  border: none;
  border: 1px solid #b8b8b8;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

div.specialization-input:hover,
div.hospital-input:hover {
  border: 1px solid #636363;
}

.hospital-input-active {
  width: 100%;
  height: 40px;
  outline-style: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #272727;
  justify-content: flex-end;
  position: relative;
  justify-content: space-between;
  transition: 0.1s ease-in-out;
  box-shadow: rgba(33, 207, 76, 0.3) 0px 0px 0px 3px;
  border: 1px solid #636363;
  margin-bottom: 20px;
}

.specialization-input p,
.specialization-input-active p,
.hospital-input p,
.hospital-input-active p,
.specialization-input-disable p {
  font-size: 13px;
  color: #808080;
}

.specialization-input span,
.specialization-input-active span,
.hospital-input span,
.hospital-input-active span,
.specialization-input-disable span {
  font-size: 10px;
  color: #272727;
}

.specialization-input p.specialization,
.specialization-input-active p.specialization,
.hospital-input p.specialization,
.hospital-input-active p.specialization {
  color: #272727;
}

.specialization-input-active {
  width: 100%;
  height: 40px;
  outline-style: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #272727;
  justify-content: flex-end;
  position: relative;
  justify-content: space-between;
  transition: 0.1s ease-in-out;
  box-shadow: rgba(33, 207, 76, 0.3) 0px 0px 0px 3px;
  border: 1px solid #636363;
  margin-bottom: 50px;
}

.specialization-input-disable {
  width: 100%;
  height: 40px;
  outline-style: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #272727;
  justify-content: flex-end;
  position: relative;
  justify-content: space-between;
  transition: 0.1s ease-in-out;
  border: 1px solid #b8b8b8;
  margin-bottom: 50px;
  background: #eee;
  opacity: 0.75;
  pointer-events: none;
}

.specialization-input:hover,
.hospital-input:hover {
  border: 1px solid #aaaaaa;
}

.specialization-dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 120px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  border: 1px solid #b8b8b8;
  overflow-y: scroll;
  z-index: 2;
}

.form-dropdown-list {
  list-style: none;
}

.form-dropdown-list li {
  width: 100%;
  height: auto;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 500;
}

.form-dropdown-list li:hover {
  background: #ebebeb;
}

.register-successful {
  background: #fff;
  width: 95%;
  max-width: 500px;
  border-radius: 8px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.register-successful-header {
  width: 100%;
  height: 50px;
  display: flex;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.register-successful-header h1 {
  font-size: 18px;
  font-weight: 500;
  color: #272727;
}

.register-successful-header p {
  display: flex;
  font-size: 16px;
  color: #808080;
  cursor: pointer;
}

.register-successful-body {
  font-size: 14px;
  margin-bottom: 30px;
}

.register-successful button {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  background: #058e46;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  font-weight: 500;
  margin-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-successful button:hover {
  transition: 0.1s ease-in-out;
  background: #057a3c;
}

.error-msg {
  padding: 10px;
  background: rgb(255, 232, 236);
  margin-bottom: 20px;
  border-radius: 2px;
  border: 1px solid rgb(255, 207, 215);
  font-size: 14px;
  color: rgb(255, 29, 29);
  display: flex;
  align-items: center;
}

.error-msg p {
  color: rgb(255, 29, 29);
  margin-right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .login-form,
  .forgot-password-container {
    min-width: 0px;
    width: 100%;
  }

  .login-header {
    width: 100%;
  }

  .form-container {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
    background: transparent;
    box-shadow: none;
  }

  .login-container {
    height: 100vh;
    background: #fff;
  }

  .register-container {
    background: #fff;
    padding: 0px;
    margin: 0px;
    min-width: none;
    padding: 20px;
  }

  .register-container .login-form {
    min-width: none;
    padding: 0px;
    margin: 0px;
  }

  .register-container div.form-container {
    min-width: none;
    padding: 0px;
    margin: 0px;
    padding: 0px 0px;
    min-width: none;
    width: 100%;
  }
}
