.sidebar {
  width: 250px;
  height: 100vh;
  background: rgb(255, 255, 255);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  overflow-y: auto;
}

.header {
  border-bottom: 1px solid #dddddd;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.sidebar .avatar {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background: #eee;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.sidebar h1 {
  font-weight: 600;
  color: #272727;
  font-size: 18px;
}

.sidebar h2 {
  font-size: 14px;
  color: #808080;
}

.sidebar h2 span {
  color: rgb(255, 75, 75);
  font-weight: 500;
  cursor: pointer;
}

.sidebar h2 span:hover {
  text-decoration: underline;
}

.navigation {
  width: 100%;
  background: #f3f7fa;
  margin-top: 20px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}

.navigation label {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  color: #272727;
}

.navigation ul {
  list-style: none;
  margin-top: 10px;
}

.navigation ul li {
  width: 100%;
  font-weight: 400;
  color: #696969;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

.navigation ul li p {
  display: flex;
  margin-right: 10px;
  font-size: 18px;
}

.navigation ul li:hover {
  background: rgb(232, 245, 255);
  color: rgb(37, 131, 207);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-weight: 500;
}

.navigation ul li.active {
  background: rgb(232, 245, 255);
  color: rgb(37, 131, 207);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-weight: 500;
}

.navigation ul li.active::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  right: 4px;
  background: rgb(37, 131, 207);
  border-radius: 100px;
}
