.modal-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verification-modal {
  padding: 20px;
  background: #fff;
  width: 95%;
  max-width: 500px;
  border-radius: 8px;
}

.verification-modal h1 {
  font-size: 18px;
  font-weight: 600;
  color: #272727;
  margin-bottom: 20px;
}

.verification-modal input {
  border: 1px solid #d3d3d3;
  margin: 20px 0px;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  padding: 0px 10px;
}

.verification-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.verification-btns button {
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 500;
  min-width: 80px;
  color: #13964c;
  transition: 0.1s ease-in-out;
}

button.green-cta {
  background: #1cb45d;
  color: #fff;
}

button.green-cta:hover {
  transition: 0.1s ease-in-out;
  background: #199b51;
}

button.gray-cta:hover {
  transition: 0.1s ease-in-out;
  background: #eee;
}

button.red-cta {
  color: #eb5353;
}

button.red-cta:hover {
  background: #eee;
  transition: 0.1s ease-in-out;
}

button.green-cta-disable {
  background: #1cb45d;
  color: #fff;
  opacity: 0.5;
  pointer-events: none;
}
