@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
}

.bin-card {
  background: #fff;
  border-radius: 100px;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  color: #272727;
}

.bin-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.1s ease-in-out;
  background: #eee;
}

.inventory {
  background: #fff;
  border-radius: 100px;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  position: absolute;
  bottom: 65px;
  right: 20px;
  transition: 0.1s ease-in-out;
  font-weight: 600;
  color: #272727;
}

.inventory:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.1s ease-in-out;
  background: #eee;
}

.custom-select {
  border: 1px solid #e0e7eb;
  height: 40px;
  border-radius: 6px;
  padding: 0px 10px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.select-dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  background: #fff;
  min-height: 100px;
  height: auto;
  top: 45px;
  border-radius: 6px;
  border: 1px solid #e0e7eb;
  padding: 15px;
  z-index: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select-dropdown p {
  height: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 2px;
}

.select-dropdown p:hover {
  background: rgb(238, 240, 241);
}

.select-dropdown p.active {
  background: rgb(238, 240, 241);
}

div.select-dropdown p.no-data {
  width: auto;
  position: absolute;
  color: #808080;
  left: 50%;
  transform: translateX(-50%);
  font-style: italic;
  font-size: 12px;
}

.select-input-container {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
